/* Container principal do calendário */
.barber-calendar-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

/* Título do componente */
.barber-calendar-container h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

/* Estilos do DatePicker */
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input {
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.react-datepicker__input:focus {
  border-color: #007bff; /* Cor de foco */
}

/* Calendário: corrigindo a exibição e a sobreposição */
.react-datepicker__triangle {
  display: none; /* Esconde a seta do calendário */
}

/* Layout da grid de dias */
.react-datepicker__month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
  grid-gap: 10px;
  padding: 10px;
}

/* Estilo dos dias da semana e dias do mês */
.react-datepicker__day-name {
  font-weight: bold;
  color: #555;
  text-align: center;
  padding: 5px 0;
}

.react-datepicker__day {
  color: #333;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para os dias selecionados */
.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para os dias desabilitados */
.react-datepicker__day--disabled {
  background-color: transparent;
  color: #dcdcdc;
  cursor: not-allowed;
}

/* Estilos para a seleção de tempo */
.react-datepicker__time-list-item {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
}

.react-datepicker__time-list-item:hover {
  background-color: #007bff;
  color: #ffffff;
}

.react-datepicker__time-list-item--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__time-list-item--disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Customização do campo de tempo */
.react-datepicker__time-input input {
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #aaa;
}

.react-datepicker__time-input input:focus {
  outline: none;
  border-color: #007bff;
}

/* Placeholder do campo de data */
.react-datepicker__input::placeholder {
  color: #aaa;
  font-style: italic;
}
