/* Login.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #fff;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.6); /* Fundo translúcido para o formulário */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 300px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;  /* Ajuste no padding para igualar a altura do botão */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;  /* Mesma altura do input */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
}

.register-link {
  font-size: 14px;  /* Ajusta o tamanho da fonte */
  text-align: center; /* Garante que o texto fique centralizado */
}

.register-link a {
  color: #4CAF50; /* Cor do link */
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
