/* Estilo básico para o componente Navbar */
nav {
  background-color: #34495e; /* Cor de fundo escura */
  color: #ecf0f1; /* Texto claro */
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2c3e50; /* Linha mais visível abaixo da navbar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease-in-out; /* Transição suave */
}

nav:hover {
  background-color: #2c3e50; /* Cor de fundo mais escura ao passar o mouse */
}

/* Estilo para o container das links de navegação */
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espaçamento maior entre os links */
}

.nav-links a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  font-weight: 500; /* Peso mais forte para destaque */
  padding: 10px 14px; /* Ajuste do padding para aumentar o tamanho */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  color: #1abc9c;
  background-color: #2c3e50;
}

/* Estilo para o botão de login */
.login-btn {
  background-color: #1abc9c;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
  background-color: #16a085;
}

/* Estilo para o botão de logout */
.logout-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.logout-btn:focus {
  outline: none;
}

/* Estilo para o badge de pontos */
.user-points {
  font-size: 16px;
  font-weight: 600;
  background-color: #f39c12;
  padding: 5px 15px; /* Ajustando o padding para dar mais espaço ao redor do texto */
  border-radius: 20px;
  color: #34495e;
  display: flex; /* Usando flexbox para centralizar */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.user-points:hover {
  transform: scale(1.1); /* Animação de aumento de tamanho */
}


/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .nav-links a {
    padding: 8px 12px;
    font-size: 14px;
  }

  .logout-btn {
    margin-top: 15px;
    width: 100%;
  }
}
